
      .right {
        background-color: black;
        color: #cccc; 
      }
      label {
        display: block;
        margin-bottom: 15px;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="tel"],
      select,
      textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
    @media (max-width: 768px) {
        .login-right {
            background-color: black;
            color: #ffffffc7;
        }
    }

      h2 {
        text-align: center;
      }
      input, select, textarea {
        background: black;
        border: none;
        color: #cccc;
      }
      #birthdate {
       background-color: #5b5b5b;
      }

      select {
        margin-top: 10px;
      }

      #submit-btn {
        color: white;
        background-color: #40d040;
        border: 1 px solid;
        border: 1px solid #40d040;
        border-radius: 16px;
        padding: 2px 20px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .login-container {
        max-width: 1060px; 
        padding: 60px 60px;;
        background-color: #8000808a;
        border-radius: 10px;
      }
      
      body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 768px) {
        .login-right-div {
            background-color: black;
            color: #ffffffc7;
          }
    }
   
    
  
      